<div>
  <p-table
    #transactionsTable
    showGridlines
    [value]="transactions"
    [columns]="transactionTableColumns"
    [globalFilterFields]="['name', 'amount', 'category']"
  >
    <ng-template #caption>
      <div class="flex">
        <p-button
          label="{{ 'features.transactionList.resetFilters' | translate }}"
          [outlined]="true"
          icon="pi pi-filter-slash"
          (click)="resetFilters(transactionsTable)"
        />

        <p-iconfield iconPosition="left" class="ml-auto">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
            [(ngModel)]="globalTableSearchValue"
            pInputText
            type="text"
            (input)="
              transactionsTable.filterGlobal($event.target.value, 'contains')
            "
            placeholder="{{
              'features.transactionList.searchKeyword' | translate
            }}"
          />
        </p-iconfield>

        <app-add-transaction-dialog
          (AddTransactionDialogEvent)="addTransaction($event)"
        ></app-add-transaction-dialog>

        <p-button
          label="{{ 'features.transactionList.export' | translate }}"
          [outlined]="true"
          icon="pi pi-file-export"
          (click)="exportCustomCSV()"
        />

        <p-fileupload
          name="demo[]"
          url="https://www.primefaces.org/cdn/api/upload.php"
          (onUpload)="onUpload($event)"
          accept=".csv"
          maxFileSize="1000000"
          mode="basic"
          [auto]="true"
        >
        </p-fileupload>
      </div>
    </ng-template>

    <ng-template #header>
      <tr>
        <th>
          <div class="flex justify-content-center align-items-center h-full">
            <span class="mr-1">{{
              "features.transactionList.columns.titles.name" | translate
            }}</span>
            <p-columnFilter
              type="text"
              field="name"
              placeholder="{{
                'features.transactionList.columns.filters.typeToSearch'
                  | translate
              }}"
              matchMode="contains"
              display="menu"
              [showMatchModes]="false"
              [showOperator]="false"
              [showAddButton]="false"
            ></p-columnFilter>
          </div>
        </th>
        <th>
          <div class="flex justify-content-center align-items-center h-full">
            <span class="mr-1">{{
              "features.transactionList.columns.titles.amount" | translate
            }}</span>
            <p-columnFilter
              field="amount"
              matchMode="between"
              display="menu"
              [showMatchModes]="false"
              [showOperator]="false"
              [showAddButton]="false"
            >
              <ng-template #filter let-value let-filter="filterCallback">
                <p-slider
                  [(ngModel)]="transactionAmountFilterValues"
                  [min]="transactionAmountFilterMinValue"
                  [max]="transactionAmountFilterMaxValue"
                  [range]="true"
                  class="m-4"
                  (onSlideEnd)="filter($event.values)"
                />
                <div>
                  <span *ngIf="!transactionAmountFilterValues">0</span>
                  <span *ngIf="transactionAmountFilterValues"
                    >{{ transactionAmountFilterValues[0] }} -
                    {{ transactionAmountFilterValues[1] }}</span
                  >
                </div>
              </ng-template>
            </p-columnFilter>
          </div>
        </th>
        <th>
          <div class="flex justify-content-center align-items-center h-full">
            <span class="mr-1">{{
              "features.transactionList.columns.titles.category" | translate
            }}</span>
            <p-columnFilter
              field="category"
              matchMode="equals"
              display="menu"
              [showMatchModes]="false"
              [showOperator]="false"
              [showAddButton]="false"
            >
              <ng-template #filter let-filter="filterCallback">
                <p-select
                  [options]="transactionCategoryFilterOptions"
                  [placeholder]="
                    'features.transactionList.columns.filters.selectOne'
                      | translate
                  "
                  (onChange)="filter($event.value)"
                ></p-select>
              </ng-template>
            </p-columnFilter>
          </div>
        </th>
      </tr>
    </ng-template>

    <ng-template #body let-transation>
      <tr>
        <td>
          <div class="flex justify-content-center">{{ transation.name }}</div>
        </td>
        <td>
          <div class="flex justify-content-center">
            {{ transation.amount | currency: "EUR" }}
          </div>
        </td>
        <td>
          <div class="flex justify-content-center">
            {{ transation.category }}
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
